# Python
__pycache__/
*.py[cod]
*.pyo
.Python

# Virtual environments
.venv/
venv/
env/

# Outputs
mlruns/
mlflow.db
*.png

# macOS
.DS_Store
**/.DS_Store
__MACOSX/

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# Editors
.vscode/
.idea/
